.easter--title {
    max-width: 1200px;
    margin: 0 auto 40px;
}
.easter--title .title {
    font-size: var(--desktop-title-size, 48px);
    margin-bottom: 1rem;
    font-weight: 700;
}
.easter--title .description {
    font-size: var(--desktop-desc-size, 18px);
}
@media screen and (max-width: 1440px) {
    .easter--title {
        max-width: 960px;
        margin: 0 auto 32px;
    }
    .easter--title .title {
        font-size: var(--desktop-sm-title-size, 38px);
    }
    .easter--title .description {
        font-size: var(--desktop-sm-desc-size, 14px);
    }
}
@media screen and (max-width: 1023px) {
    .easter--title {
        max-width: 100%;
        margin: 0 auto 1.875rem;
        padding: 0 0.9375rem;
    }
    .easter--title .title {
        font-size: var(--mobile-title-size, 1.5rem);
    }
    .easter--title .description {
        font-size: var(--mobile-desc-size, 0.875rem);
    }
}